ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

h1 {
  color: #f2f2f2;
  text-align: center;
}

.topnav {
  background-color: #28aad2;
  overflow: hidden;
  }
  
a.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postimg {
  min-width : 500px;
  max-width : 600px;
  object-fit: contain;
  border: 4px solid lightslategray;
  text-align: center !important;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

body {
  background-color: #196880d7;
}

.admin {
  width: 50; 
  height: min-content;
  background-color: transparent !important;
  vertical-align: text-top;
  background-size: 46px 30px;
}

#parent {
  text-align: center;
}

.child {
  display: inline-block;
}

#post {
  width: 700px;
  border: 10px solid #28aad2;
}
  