ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

h1 {
  color: #f2f2f2;
  text-align: center;
}

.topnav {
  background-color: #28acd4;
  overflow: hidden;
  }
  
a.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postimg {
  width: 800;
  height: min-content;
  border: 4px solid lightslategray;
  
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

body {
  background-color: #196880d7;
}

.admin {
  width: 50; 
  height: min-content;
  background-color: transparent !important;
  display: inline-block;
}

.child {
  display: inline-block;
}
  