{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block body %}

    <img src="/static/Cats vs Dogs.png" alt="Cats_vs_dogs_img", width="1200", class="center">
    <h1 style="text-align: center;"> {{ cat }}    VS   {{ dog }}</h2>
    <div style="text-align: center;">
        {% if dog > cat %}
            <h2>Dogs are winning</h2>
        {% elif dog < cat %}
            <h2>Cats are winning</h2>
        {% else %}
            <h2>tie</h2>
        {% endif %}
    </div>
    <hr>
    {% for image in images %}
        <div id="post">
            <div id="parent">
                <div class="child"><img class="postimg", src="{{ image['address']}}"></div>
                {% if admin == 1 %}
                <div class="child"><form action="/" method="post"><button name="admin" value="{{ image['id']}}"><img class="admin", src="/static/Red_X.png"></button></form></div>
                {% endif %}
            </div>
            <p style="text-align: center;">{{ image['animal'] }} post by: {{ image['username'] }}</p>
            <div style="text-align: center;">
                {% if image['colour'] == 0 %}
                    <form action="/" method="post"><button name="like" style="background-color: transparent;" value="{{ image['id']}}"><img src="/static/like.png"></button></form>
                {% elif image['colour'] == 1 %}
                    <form action="/" method="post"><button name="like" style="background-color: green;" value="{{ image['id']}}"><img src="/static/like.png"></button></form>
                {% endif %}
                <p> Post likes: {{ image['likes']}}</p>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}