{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block body %}

    <img src="/static/Cats vs Dogs.png" alt="Cats_vs_dogs_img", width="1200", class="center">
    <hr>
    {% for image in images %}
        <div id="post">
            <div id="parent">
                <div class="child"><img class="postimg", src="{{ image['address']}}"></div>
                {% if admin == 1 %}
                <div class="child"><form action="/" method="post"><button name="admin" value="{{ image['id']}}" class="transparent"><img class="admin", src="/static/Red_X.png"></button></form></div>
                {% endif %}
            </div>
            <div>
                <p style="text-align: center;">Post by: {{ image['username'] }}</p>
                <form action="/" method="post"><button name="like" value="{{ image['id']}}" class="transparent small"><img class="admin", src="/static/like.png"></button></form>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}