<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>
            Dogs vs Cats -
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <div class="topnav container">
                <ul class="nav">
                    <h1>
                        Cat vs Dogs!
                    </h1>
                    {% if session["user_id"] %}
                        <a class="nav-link" style="text-align: right;" href="/post">Make a post</a>    
                        <a class="nav-link" style="text-align: right;" href="/logout">Log Out</a>                    
                    {% else %}
                        <a class="nav-link" style="text-align: right;" href="/register">Register</a>
                        <a class="nav-link" style="text-align: right;" href="/login">Log In</a>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% if session["user_id"] %}
        <img src="https://drive.google.com/uc?export=view&id=1OSwfXSpLfSSPorK9s9VdO_9Dx2f19d4c" alt="Cats vs dogs img", width="1200", class="center">
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>